body {
  font-family: Arial, sans-serif;
  }


  svg {
  width: 100%;
  height: auto;
  }

  .mapsvg {
  fill: #ebebeb;
  transition: fill 0.3s;
  }

  .mapsvg:hover {
  fill: #ccc;
  }

  .stadium-container {
  position: relative;
  margin-left: 1rem;

  }

  .popup {
    display: block;
    width:100%;
    height: 808px;
    left: 0;

    background-color: #ebebeb;
    align-content: center;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    overflow-y: scroll;
    text-align: center;
    z-index: 3;
    /* padding: 20px; */
    /* Other popup styles */
  }

  .popup_holder{
    width: 477px;
    min-height: 808px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .show {
    transform: translateX(0%);
  }
  

  .btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
  }

  .btn:hover {
  background-color: #0056b3;
  }

  .container{
    padding-top: 2px;
    min-width: 100%;

  }

  .ticket-header {
    background-color: #301f9c;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.ticket-header h2 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #999;
    margin:3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    width: 320px;
    margin-bottom: 20px;
}

.ticket-info {
    margin-bottom: 20px;
}

.ticket-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.ticket-label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.ticket-value {
    flex: 1;
    text-align: left;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #301f9c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}


/* ticket list handling */
.ticket_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:fit-content;

}
.svg-popup-container{
  display: flex;
}
.everything-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ticket_item_iterator {
  display: block;
}

/* ticket item card styles */
 .ticket_item {
  display:none;
  margin-bottom: 20px;
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 } 

::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scroll bar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scroll bar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll bar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll bar thumb on hover */
}

#main_registration{
  align-self: start;
    width: 309px;
    border: black 1px solid;
    margin-left: 3rem;
    height: 3rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
}